@media (max-width: 600px){
    body{
        font-size: 15px;
    }
    h1{
        font-size: 30px;
        padding: 10px;
    }
    select{
        font-size: 15px;
        margin: 10px;
        border:2px solid black;
    }
    button{
        font-size: 20px;
        padding: 10px;
    }
    #StartTest{
        height: 90%;
    }
    .clearBody{
        width: 80%;
    }
}
